.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.plus,
.minus {
  font-family: inherit;
  font-weight: 400;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-light);
  background-color: var(--medium-teal);
  width: 24px;
  height: 24px;
  border-radius: 12px;
  border: 1px solid var(--medium-teal);
  cursor: pointer;
}

.quantity {
  min-width: 18px;
  text-align: center;
}
