.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin: 3rem 0;
}

.header p:last-child {
  padding: 1rem;
  background-color: var(--secondary-dark);
  border: 1px solid var(--primary-light);
  border-radius: 6px;
}

.board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

@media screen and (max-width: 540px) {
  .header {
    flex-direction: column;
  }
}
