.card {
  position: relative;
}

.card img {
  display: block;
  width: 120px;
  height: 160px;
  border-radius: 6px;
  object-fit: cover;
}

/* front of card - the picture */
.card .front {
  position: absolute;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  border: 3px solid #e2e8f0;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.371);
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

/* back of card - cover */
.card .back {
  border: 3px solid #e2e8f0;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.371);
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

@media screen and (max-width: 500px) {
  .card img {
    width: 80px;
    height: 110px;
  }
}
