.card {
  position: relative;
  box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.3);
}

.card img {
  display: block;
  width: 120px;
  height: 160px;
  border: 2px solid #fff;
  border-radius: 6px;
  object-fit: cover;
}

/* front of card - the picture */
.card .front {
  position: absolute;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

/* back of card - cover */
.card .back {
  border: 2px solid var(--dark-teal);
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
