.settings {
  padding: 2rem;
  border-radius: 6px;
  background-color: var(--secondary-dark);
  box-shadow: 0 0px 12px 0 var(--primary-dark);
  animation: 0.4s slide-in;
}

.settings > div:not(:last-child) {
  margin-bottom: 2rem;
}

.settings h2 {
  font-size: 2.2rem;
  margin-bottom: 3rem;
}

.settings button {
  margin: 0 auto;
}

.setting {
  display: flex;
  justify-content: space-evenly;
  gap: 18px;
  border-radius: 6px;
  padding: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  background: var(--primary-dark);
}

.setting p {
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  flex: 1;
  padding: 1rem;
  background-color: var(--primary-dark);
}

.setting p.selected {
  transition: 0.4s ease;
  background-color: var(--primary-pink);
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
