:root {
  --primary-light: #f3f4f6;
  --dark-teal: #0f2027;
  --medium-teal: #203a43;
  --light-teal: #2c5364;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--primary-light);
  background-color: var(--medium-teal);
  background-image: linear-gradient(
    to right,
    var(--dark-teal) 0%,
    var(--medium-teal) 46%,
    var(--light-teal) 100%
  );
  overflow: hidden;
}

h1 {
  font-size: 3.2rem;
}
