:root {
  --primary-light: #f3f4f6;
  --primary-dark: #130f27;
  --secondary-dark: #202643;
  --primary-pink: #b61f98;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-light);
  background-color: var(--secondary-dark);
  background-image: linear-gradient(
    to right,
    #130f27 0%,
    #202643 50%,
    #b61f98 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;

  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin: 3rem 0;
}

.animation {
  position: absolute;
  right: 20px;
  top: 20px;
}
