.settings {
  padding: 2rem;
  background-color: var(--dark-teal);
  border-radius: 6px;
  box-shadow: 0 6px 28px 0 rgba(0, 0, 0, 0.3);
  animation: 0.8s fade-in;
}

.settings > div:not(:last-child) {
  margin-bottom: 2.6rem;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
