.setting {
  display: flex;
  justify-content: space-evenly;
  gap: 18px;
  border-radius: 6px;
  padding: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  background: var(--light-teal);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
